<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <section class="container py-4">
        <h2>Monitor de inventario</h2>
        <div class="row">
            <div class="col-3">
                <label for="">Tienda</label>
                <select class="form-select" id="stores-select">
                    <option value="">Seleccione</option>
                </select>
            </div>
            <div class="col-3">
                <label for="">Categoria</label>
                <select class="form-select" id="categories-select">
                    <option value="">Seleccione</option>
                </select>
            </div>
            <div class="col-3">
                <label for="">Marca</label>
                <select class="form-select" id="brands-select">
                    <option value="">Seleccione</option>
                </select>
            </div>
            <div class="col-3 d-flex align-items-end">
                <button type="button" class="btn btn-primary" id="search">Buscar</button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table mt-3">
                <thead>
                    <tr>
                        <th scope="col">Tienda</th>
                        <th scope="col">ID Producto</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Inventario</th>
                        <th scope="col">Accion</th>
                    </tr>
                </thead>
                <tbody id="table-body">

                </tbody>
            </table>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script>
        const storesSelectEl = document.querySelector("#stores-select");
        const categoriesSelectEl = document.querySelector("#categories-select");
        const brandsSelectEl = document.querySelector("#brands-select");
        const searchBtnEl = document.querySelector("#search");
        const tableBodyEl = document.querySelector("#table-body")

        const getStores = async () => {
            const res = await fetch("http://localhost:3000/api/stores");
            return await res.json();
        }

        const getCategories = async () => {
            const res = await fetch("http://localhost:3000/api/categories");
            return await res.json();
        }

        const getBrands = async () => {
            const res = await fetch("http://localhost:3000/api/brands");
            return await res.json();
        }

        const searchProducts = async (store, category, brand) => {
            const res = await fetch(`http://localhost:3000/api/products/search`, {
                method: "POST",
                body: JSON.stringify({ category, store, brand }),
                headers: { "content-type": "application/json" }
            });
            return await res.json();
        }

        const printProducts = async () => {
            const result = await searchProducts(storesSelectEl.value, categoriesSelectEl.value, brandsSelectEl.value);
            tableBodyEl.innerHTML = "";

            result.forEach(item => {
                let trEl = document.createElement('tr');
                let tdStoreEl = document.createElement('td');
                let tdIdEl = document.createElement('td');
                let tdNameEl = document.createElement('td');
                let tdInventoryEl = document.createElement('td');
                let tdActionEl = document.createElement('td');
                let actionBtnEl = document.createElement('button');

                tdStoreEl.innerText = item.store_name;
                tdIdEl.innerText = item.product_id;
                tdNameEl.innerText = item.product_name;
                tdInventoryEl.innerText = item.quantity;

                actionBtnEl.classList.add("btn", "btn-info", "btn-sm");
                actionBtnEl.innerText = "Ver";
                actionBtnEl.id = "show-info"
                tdActionEl.appendChild(actionBtnEl);


                trEl.appendChild(tdStoreEl);
                trEl.appendChild(tdIdEl);
                trEl.appendChild(tdNameEl);
                trEl.appendChild(tdInventoryEl);
                trEl.appendChild(tdActionEl);
                tableBodyEl.appendChild(trEl);
            })
        }

        (async () => {
            const [stores, categories, brands] = await Promise.all([getStores(), getCategories(), getBrands(), printProducts()]);

            stores.forEach((item) => {
                let opt = document.createElement('option');
                opt.value = item.store_id;
                opt.innerHTML = item.store_name;
                storesSelectEl.appendChild(opt);
            });

            categories.forEach((item) => {
                let opt = document.createElement('option');
                opt.value = item.category_id;
                opt.innerHTML = item.category_name;
                categoriesSelectEl.appendChild(opt);
            })

            brands.forEach((item) => {
                let opt = document.createElement('option');
                opt.value = item.brand_id;
                opt.innerHTML = item.brand_name;
                brandsSelectEl.appendChild(opt);
            })
        })()

        searchBtnEl.addEventListener("click", async () => await printProducts())
    </script>
</body>

</html>